<h1> Welcome <%= @user %> </h1>
<h1>Links</h1>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>,
    URL: <b><a href="http://<%= link.url %>"><%= link.url %></a></b>,
    Tags: <%= (link.tags.map { |tag| tag.name }).join(", ") %>
  </li>
  <% end %>
</ul>
<a href = '/links/new'> Add New link </a>
<br></br>
<form action = "/tags" method = "POST" >
  Search links by tag: <input type = 'text', name = 'search'>
  <input type =  'submit', value = 'Submit'>
</form>
